---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Morph">
	<main class="scroll-smooth">
    <div class="h-screen" />
    <div class="h-screen" />
    <div class="h-screen" />
    <div class="h-screen" />
    <div class="h-screen" />
    <div class="h-screen" />
    <div class="h-screen" />
	</main>
</Layout>